<div class="col-12 col-sm-6 col-md-4">
    <div class="bg-dark border border-primary m-1">
        <h5 class="bg-primary employee-title pt-2 pl-2">{{ name }}</h5>
        <h6 class="bg-primary employee-title py-2 pl-2">{{ role }}</h6>
        <div class="row py-3 employee-info">
            <div class="col-4 d-flex align-items-center justify-content-center"><span class="fas fa-user-graduate fa-5x"></span></div>
            <div class="col pl-0">
                <p class="text-right"><span class="text-info float-left">ID:</span> {{ id }}</p>
                <p class="text-right"><span class="text-info float-left">Email:</span> <a href="mailto:{{ email }}" class="text-light">{{ email }}</a></p>
                <p class="text-right"><span class="text-info float-left">School:</span> {{ school }}</p>
            </div>
        </div>
    </div>
</div>
