<!DOCTYPE html>

<html lang="en">


<head>


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<title>My Team</title>


	<!-- Links to css -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <style>
        body {
	        background-color: #2b3e50;
        }

        .employee-title, .employee-info {
            line-height: 1;
            margin: 0;
        }

        p {
            margin-bottom: .5rem;
        }
    </style>

</head>


<body>


	<!-- Header row -->
	<header class="navbar navbar-dark bg-primary mb-4">

		<div class="container">
			<h1 class="navbar-brand">My Team</h1>
		</div>

	</header>


	<!-- Main page content -->
	<main class="container text-white">

            {{ team }}

	</main>


</body>


</html>
